<extend name="$_home_public_layout"/>

<block name="jumbotron">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="panel">
                    <div class="panel-body">
                       <include file="./Application/Common/Builder/formbuilder.html" />
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="main"></block>
